form{
    background-color: rgb(25, 173, 99);
    width: 600px;
    padding: 15px;
    color: rgb(32, 32, 58);
}

body{
    background-image:url('../img/img.jpg');
    background-repeat: repeat-x;
    background-size: auto;
}

form input{
    margin-bottom: 5px;
}

form label{
    display: block;
} 
